html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #E3E2DF;
    font-family: 'Coda', cursive;
    color: #9A1750;
    font-size: 130%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    font-weight: 400;
    font-size: 250%;
    color: #4E4E50;
    text-shadow: 3px 3px 5px #E3AFBC;
    margin: 5px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #EE4C7C 0%, #9A1750 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #5D001E;
    font-size: 0;
    color: #E3E2DF;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.hovereffect:hover {
    box-shadow: 4px 4px 10px #4E4E50;
    opacity: 0.7;
}

.deck .card.open {
    color: #5D001E;
    cursor: default;
    transform: rotateY(360deg);
}

.deck .card.show {
    background-color: #E3E2DF;
    font-size: 45px;
}

.deck .card.match {
    cursor: default;
    background: #E3AFBC;
    font-size: 40px;
}

.deck .card.matchEffect {
    transform: scale(1.2,1.2);
    color: #8EE4AF;
    font-size: 65px;
    background-color: #EDF5E1;
}

.noPointer{
    pointer-events: none;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   20% { transform: rotate(5deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
.deck .card.noMatchEffect {
    transform: scale(1.1,1.1);
    animation: shake 0.3s infinite;
    background-color: #C3073F;
    color: #EDF5E1;

}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .hearts {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .hearts li {
    list-style: none;
    display: inline-block;
}

.delStar {
    color: #4E4E50;
}

.score-panel .timer {
    margin-right: 2%;
}

.score-panel .fa-clock {
    margin-left: 2%;
}

.score-panel #playPause {
    float: right;
    cursor: pointer;
    font-weight: 10%;
}

.score-panel .restart {
    float: right;
    margin: 0 2%;
    cursor: pointer;
    font-weight: 20%;
}


/* media query for Ipad / Tablet, min-width: 680px */
@media screen and (min-width: 680px){

    body {
        background: #E3E2DF;
        font-family: 'Coda', cursive;
        color: #9A1750;
        font-size: 120%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 180px;
        margin-left: 0px;
    }

    h1 {
        font-family: 'Fascinate Inline', cursive;
        font-weight: 400;
        font-size: 200%;
        color: #4E4E50;
        text-shadow: 3px 3px 5px #E3AFBC;
        margin: 5px;
    }

    /*
     * Styles for the deck of cards
     */

    .deck {
        width: 500px;
        min-height: 340px;
        background: linear-gradient(160deg, #EE4C7C 0%, #9A1750 100%);
        padding: 32px;
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 95px;
        width: 95px;
        background: #5D001E;
        font-size: 0;
        color: #E3E2DF;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        margin: 0.8%;
    }

    .deck .card.show {
        background-color: #E3E2DF;
        font-size: 45px;
    }

    .deck .card.match {
        cursor: default;
        background: #E3AFBC;
        font-size: 35px;
    }

    .deck .card.matchEffect {
        transform: scale(0.8,0.8);
        color: #8EE4AF;
        font-size: 55px;
        background-color: #EDF5E1;
    }

    .deck .card.noMatchEffect {
        transform: scale(1.1,1.1);
        animation: shake 0.3s infinite;
        background-color: #C3073F;
        color: #EDF5E1;

    }

    /*
     * Styles for the Score Panel
     */

    .score-panel {
        text-align: left;
        width: 345px;
        margin-bottom: 10px;
    }

    .score-panel .hearts {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 0 5px 0 0;
    }

    .score-panel .hearts li {
        list-style: none;
        display: inline-block;
    }

    .delStar {
        color: #4E4E50;
    }

    .score-panel .timer {
        margin-right: 2%;
    }

    .score-panel .fa-clock {
        margin-left: 2%;
    }
}